<h1>Listing items</h1>

<style type="text/css">
  .title {
      font-size: 24pt;
      font-weight: bold;
      margin-bottom: 16px;
  }
    .title a, a:hover {
        color: maroon;
    }
    .description{
        margin-bottom: 16px;
    }
    .price{
        color: maroon;
        font-weight: 800;
        font-size: 14pt;
        text-align:right;
    }
</style>

<%= link_to "Your Cart", :controller => :cart, :action => :index %>

<table>

  <% @items.each do |item| %>
  <tr>
    <td><%= link_to image_tag(item.image_url), item %></td>
    <td>
    <div class="title"><%= link_to item.title, item %></div>
    <div class="description"><%= item.description %></div>
    <div class="links"><%= link_to 'Show', item %> | <%= link_to 'Edit', edit_item_path(item) %> | <%= link_to 'Destroy', item, :confirm => 'Are you sure?', :method => :delete %></div>
    <div class="price"><%= number_to_currency item.price, :unit => "&pound;" %></div>
    <%= button_to "Add to Cart", :controller => :cart, :action => :add, :id => item %>
    </td>
  </tr>
  <tr><td colspan="2">
    <hr/>
  </td> </tr>
<% end %>
</table>

<br />

<%= link_to 'New Item', new_item_path %>
